.type01{
	border-collapse:collapse;
	width:70%;
	margin:1em 0;
	background-color:transparent;
	border:solid 1px #000000;
}


.type01 thead{
	background-color:#E5E5E5
}

.type01 thead th{
	background-color:transparent;
	color:#222222;
	padding:10px;
	border-right:solid 1px #000000;
	cursor:pointer
}

.type01 tbody{
	background-color:transparent
}


.type01 tbody tr td{
	background:transparent;
	border-right:solid 1px #000000;
	color:#000000;
	padding:10px
}



.type02{
  border-collapse:separate;
  border-spacing: 5px;
  width: 850px;
  /* table-layout: fixed; */
  /* margin-left: 2px; */
}

.type02 thead{
	background-color:#E5E5E5
}

.type02 thead th{
  background-color: #c79852;
  color: white;
  border:solid 1px #927141;
}

.type02 tbody{
	background-color:transparent;
}

.type02 tbody tr td{
  background-color: #e4d4bc;
  border:solid 1px #af9d85;

}



.type02 th,table td{
  border-radius: 3px;
  text-align: center;
  padding: 5px 0;

}

.type03{
	background: #000000;
	width:100%;
	height:100%;
}

.type03 thead{
	background-color:#ffffff;
}

.type03 .comment-table-out{
	vertical-align:bottom;
}

.type03 div.scrollBox{
	border		: 1px black solid;
	margin		: 0px;
	position:relative;
	height:90%;
	width:270px;
	overflow-x: hidden;
	overflow-y:auto;
}

.type03 div.scrollBox .commentDiv{
	position:absolute;
	bottom:0;
}

.type04{
	color:#FFFFFF;
	background: #000000;
}

.type04 tbody td{
	text-align: left;
}

.registMovieForm {
	width: 600px;
}

.registMovieForm td.item{
	text-align: center;
	width: 20%;
}

.registMovieForm td.inputItem{
	text-align: left;
	width: 80%;
}

.type04 textarea{
	color:#FFFFFF;
	height: 440px;
	overflow: hidden !important;
	background: #000000;
	border:none;
	letter-spacing: normal;
	line-height: 18px;
	font-family: CopyRight, Emoji, &quot;Hiragino Sans&quot;, Meiryo, sans-serif;
	font-weight: 400;
	font-size: 12px;
	font-style: normal;
	tab-size: 8;
	width: 280px;
	vertical-align: bottom;
	resize: none;
}

.type05{
	border-collapse:collapse;
	width:90%;
	margin:1em 0;
	background-color:transparent;
}

.type05 td.registTdArea{
	width: 610px;
}
.type05 td.registTdButtom{
	vertical-align: bottom;
}

#movieArea{
	display: none;
}

#movieFrame{
	position: relative;
	width: 100%;
    height:0;
    padding-top:75%;
}

#listDiv{
  width: 850px;
  /*
  height: 480px;
  overflow: auto;
  */
}

#registDiv{
	text-align: left;
}


