<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Springboot</title>
	<meta charset="utf-8" />
	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/common.js"></script>
	<script src="js/sample.js"></script>
	<script src="js/jquery.dataTables.js"></script>
	<link rel="stylesheet" href="css/sample.css">
</head>
<body>
	<h1 th:text="${title}"></h1>

	<table class="type05" border="1">
		<tbody>
			<tr>
				<td class="registTdArea">
					<table class="registMovieForm" border="1">
						<thead>
							<tr>
								<th colspan="2">動画リンク登録</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="item">
									動画名(任意)
								</td>
								<td class="inputItem">
									<input type="text" id="movieName" size="20" value="" maxlength="50"></input>
								</td>
							</tr>
							<tr>
								<td class="item">
									動画リンク
								</td>
								<td class="inputItem">
									<input type="text" id="movieLink" size="60" value="" maxlength="200"></input>
								</td>
							</tr>
							<tr>
								<td class="item">
									カテゴリ
								</td>
								<td class="inputItem">
									<div id="categoryDiv"></div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td class="registTdButtom">
					<div id="registDiv">
						<button id="registBtn">登録</button>
					</div>
				</td>
			</tr>
			<br/>

			<tr>
				<td colspan="2">
					<div id="movieArea">
						<table class="type03" border="1" id="movie">
							<thead>
								<th colspan="2"><a href="javascript:void(0);" onclick="closeMovieArea();">閉じる</a></th>
							</thead>
							<tbody>
								<tr>
									<td width="100%">
										<div id="movieFrame"></div>
									</td>
									<td class="comment-table-out">
										<table class="type04">
											<tbody>
												<div class="scrollBox" id="divScrollBox">
													<div class="commentDiv" id="commentRow"></div>
												</div>
												<tr>
													<td><input type="text" size="33" id="inputComment" value=""></input></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						<input type="hidden" id="mId" value=""></input>
					</div>
				</td>
			</tr>

			<tr>
				<td colspan="2">
					<div id="listDiv">
						<table class="type02" border="1" id="movieInfo">
							<thead>
								<tr>
									<th>ID(隠し)</th>
									<th>動画名</th>
									<th>動画URL(隠し)</th>
									<th>サムネイル画像</th>
									<th><div id="list_categoryDiv"></div></th>
									<th>コメント数</th>
									<th><button id="delBtn">削除</button></th>
									<th>更新</th>
									<th>カテゴリID(隠し)</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</td>
			</tr>

			<tr></tr>


		</tbody>
	</table>

	<div th:replace="commonParts"></div>





</body>
</html>